#ignoring the following files
#linux
**/.metadata/
**/.jxbrowser-data/
**/.config/
**/.project
**/.xdchelp
**/Debug/

#windows
**\.metadata\
**\.jxbrowser-data\
**\.config\
**\.project
**\.xdchelp
**\Debug\
